body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}
.fa-compass{
    color:#fe424d;
    font-size: 1.5rem;
}
.nav-link{
    color:#222222;
}
.navbar{
    background-color: white;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-socials{
    width:100%;
    text-align: center;
}
.f-info-socials i{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.f-info{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    background-color: #ebebeb;
}
.card{
    border: none;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0;
}
.card-text p{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
.add-btn{
    background-color:#fe424d;
    border:none;
}
.save-btn{
    background-color:#fe424d;
    border:none;
}
.edit-btn{
    background-color:#fe424d;
    border:none;
    color:white;
}
.delete-btn{
    background-color:#fe424d;
    border:none;
    color:white;
    margin-left: 2rem;
}
.btns{
    display: flex;
    width: 100vh;
    margin-left: 18rem;
}
.show-img{
    height: 30vh;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}